* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	color: #ddd;
	background: #333;
	text-align: center;
	padding: 40px 20px;
}

h1 {
	font-size: 18px;
	margin: 0 0 20px;
}
#container {
	margin: 0 auto;
	width: 320px;
	height: 240px;
	position: relative;
}
#container > * {
	position: absolute;
	top: 0;
	left: 0;
}
#screen {
	opacity: 0;
	transition: opacity 2s linear;
	-webkit-transition: opacity 2s linear;
}
#screen.on {
	opacity: 1;
}
#overlay {
	z-index: 1;
}

p {
	margin: 1rem 0;
}

a {
	color: aliceblue;
}
