# Environment variables
.env
.env.*
!.env.example

# System files
.DS_Store
Thumbs.db
Desktop.ini

# Dependencies
node_modules/

# Temporary files
log/
tmp/

# IDE files
.idea/
.vscode/

# Build files
html/build/
html/private/
